.container {
  height: calc(100vh - 80px);
  width: 100vw;
  padding: 0 4rem;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: visible;
  pointer-events: none;
}

.text {
  /* margin-bottom: 6rem; */
  max-width: 40vw;
  /*  position: absolute;
  top: 50%;
  transform: translateY(-50%);*/
  z-index: 2;
}

.imageWrapper {
  position: absolute;
  right: 0%;
  bottom: 0%;
  scale: 1.1;
}
.mask {
  mask-image: none;
}

.image {
  position: relative;
  height: calc(100vh - 80px);
  width: 100%;
  aspect-ratio: 9/7;
}

.scrollDown {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 3.4rem;
  height: 8.2rem;
  border: 1px solid rgba(29, 33, 45, 0.1);
  border-radius: 33px;
  overflow: hidden;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.scrollDown svg {
  display: inline-block;
  width: 20%;
}

@media only screen and (max-width: 640px) {
  .container {
    height: 75vh;
  }
  .scrollDown {
    display: none;
  }
  .container {
    padding: 0 1rem;
  }
  .imageWrapper {
    top: 10%;
    right: 0%;
  }
  .image {
    width: 100vw;
    height: auto;
  }

  .text {
    max-width: 100%;
    top: 80%;
  }

  .mask {
    mask-image: url("../../../public/mask.png");
    mask-size: contain;
    mask-position: top left;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("../../../public/mask.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: top left;
    -webkit-mask-repeat: no-repeat;
  }
}

.title,
.subTitle {
  visibility: hidden;
  opacity: 0;
}
