.container {
  margin: 0 auto;
  padding: 0 1rem;
  min-height: 60vh;
}
.title {
  margin-bottom: 1rem;
  font-weight: 300;
}

.inner {
  padding: 50px 0px 80px 0px;
}

.lessons ul {
  list-style: none;
  padding: 0;
}

.lessons li {
  margin-bottom: 10px;
}

.lessons a {
  text-decoration: none;
  color: blue;
}

.lessons a:hover {
  text-decoration: underline;
}
