.container {
  position: relative;
  width: 100vw;
  height: 90svh;
  overflow: hidden;
  background: linear-gradient(90deg, #000851 0%, #1cb5e0 100%);
}

.content {
  height: 100%;
  position: absolute;
  top: 40%;
  z-index: 1;
}

.text {
  margin-bottom: 4rem;
  width: 100%;
  max-width: 100ch;
  color: #fff;
}

.title {
  flex: 1;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}
.title .blue {
  color: #006bef;
}

.title {
  line-height: 1.2;
  position: relative;
  opacity: 0;
}

.title .line {
  /* Each .line is effectively a block-level container for a line of text */
  display: block;
  overflow: hidden;
}
.inner {
  display: inline-block;
  transform: translateY(100%);
  will-change: transform;
}

.waves {
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translateY(-50%);
  z-index: 0;
  background: url("/waves-fntz.svg") no-repeat;
  background-size: cover;
  width: 200vw;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .content {
    width: 100%;
    padding: 0 5%;
  }
  .text {
    margin-bottom: 2rem;
  }
  .title {
    font-size: 2rem;
  }
  .waves {
    width: 200vw;
    height: 100%;
    left: -20%;
  }
}

@media screen and (max-width: 991px) {
  .text {
    max-width: 49ch;
  }
}
