.container {
  margin: 0 auto;
  padding: 0 1rem;
}
.breadCrumb {
  font-size: 12px;
  font-weight: 400;
  color: #959494;
  text-transform: uppercase;
  margin-bottom: 1rem;
  overflow: hidden;
}

.title {
  margin-bottom: 1rem;
  font-weight: 500;
  overflow: hidden;
}

.title span {
  display: inline-block;
  transform: translateY(100%);
}

.inner {
  padding: 10rem 0px 80px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lesson {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.question {
  margin-top: 20px;
}

.button span {
  display: flex;
  gap: 1rem;
}

.sticky {
  position: sticky !important;
  top: 40px;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container span a {
  text-decoration: underline;
}

.results {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
}

.textContent {
  text-align: justify;
  margin-bottom: 3rem;
  background-color: #fff;
}

@media (max-width: 768px) {
  .textContent a[href] {
    /* Add ellipsis at the end if text does not fit in given width */
    text-overflow: ellipsis;
    /* Have to add this line to make upper line work */
    overflow: hidden;
    /* Decide what is the longest link width in given units (px, em, rem etc.) */
    max-width: 300px;
    /* Element has to be inline-block to have width and fit inline in the same time */
    display: inline-block;
    /* We want to have all the link in one line without wrapping */
    white-space: nowrap;
  }
}
