.container {
  padding: 6rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  position: relative;
}

.inner {
  position: relative;
}
.right {
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 4rem;
  width: 100%;
}

.mobileButton {
  display: none;
}

.container svg {
  z-index: -1;
  color: #f1f4fe;
  width: 65%;
  position: absolute;
  inset: 0% auto auto 0%;
}

.button {
  position: relative;
}

@media only screen and (min-width: 640px) {
  .container {
    padding: 4rem 0;
  }
  .right {
    padding: 0 3rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  .header .button {
    display: none;
  }
  .mobileButton {
    display: block;
  }
}
