.container {
  position: relative;
  clear: both;
  padding: 3rem 1rem 1rem;
  height: 340px;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.inner {
  height: 340px;
  width: 100%;
  background: #1d212d;
  border-radius: 4px;
  padding: 4rem 2rem 2rem 2rem;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.rows {
  margin-top: 5rem;

  color: #fff;
}

.logo {
  display: flex;
  flex-direction: column;
}

.menu * {
  display: block;
}

.links ul {
  list-style-type: none;
  margin-top: 0;
  padding-top: 0;
}
.links h4 {
  font-weight: 300;
  line-height: 1.4;
}

.links li:first-child {
  margin-top: 0;
  padding-top: 0;
}

.contact p:not(.title),
.contact a {
  font-weight: 300;
  color: #fff;
  margin-bottom: 0.5rem;
}

.contact a:hover {
  opacity: 1;
}

.funding {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.funding2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 360px) {
  .container {
    padding: 2rem 0 0;
  }

  .inner {
    padding: 2rem 1rem 1rem;
  }

  .rows {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .container,
  .inner {
    height: 750px;
  }
}
