.gallery {
  justify-content: center;
}

.imageWrapper {
  position: relative;
  height: 20vh;
  width: 100%;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  will-change: scale;
  transition: scale 0.3s ease;
}

.imageWrapper:hover img {
  scale: 1.1;
}

@media only screen and (min-width: 360px) {
  .gallery {
    justify-content: flex-end;
  }
}
