.container p {
  width: 100%;
  display: inline-block;
  font-size: 0.8rem;
  line-height: 1;
  text-transform: uppercase;
  color: #203165;
  font-weight: 400;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 18px;
}
.container p:before {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-right: 1.5em;
  background: currentColor;
  content: "";
}
